<div class="hero">
  <p class="large brandon logo_margin"><%= image_tag('logo.png', width: '400px')%></p>
  <p  class="small brandon slogan">Random text Random text</p>
  <p class="small brandon description">A drone-based cloud platform for you.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>